html
{
    height: 100%;
}

body
{
    text-align: center;
    background-image: url("image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.title
{
    font-size: 30px;
}

.dateTime p
{
    font-size: 20px;
    margin: 10px;
}

.dateTime input
{
    font-size: 20px;
    margin: 10px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
}

button
{
    margin: 20px 5px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.container
{
    display: flex;
    justify-content: center;
}

.innerContainer
{
    margin: 5px;
}

.innerContainer input
{
    height: 15vw;
    width: 15vw;
    color: black;
    border-radius: 5px;
    background: transparent;
    text-align: center;
    font-size: 5vw;
}   