html
{
    height: 100%;
}

body
{
    text-align: center;
    background-image: url("https://img.freepik.com/free-photo/neutral-tone-abstract-invitation-card_53876-97500.jpg?w=360&t=st=1678787861~exp=1678788461~hmac=ddf4b178837a6bad7c846053fe79fdfbc1e65bb4e3ee5c298f828b653335b6ed");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;

    color: white;
}

.title
{
    font-size: 30px;
}

.dateTime p
{
    font-size: 20px;
    margin: 10px;
    /* border:2px solid yellow; */
}

.dateTime input
{
    font-size: 20px;
    margin: 10px;
    padding: 5px 10px;
    border: 2px solid #ffdfdd ;
    background-color: #ffdfdd;
    border-radius: 10px;
    box-shadow: 3px 3px 3px  #307d7e;
}

button
{
    margin: 20px 5px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.container
{
    display: flex;
    justify-content: center;
}

.innerContainer
{
    margin: 5px;
}

.innerContainer input
{
    height: 15vw;
    width: 15vw;
    border-radius: 200px;
    color: black;
   
    background: transparent;
    text-align: center;
    font-size: 5vw;
}   